# APIs Sources
THE_MUSE_API_KEY=
ADZUNA_APP_ID=
ADZUNA_API_KEY=
FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=

# GCP
GOOGLE_APPLICATION_CREDENTIALS=
GCP_PROJECT_ID=
GCS_BUCKET_NAME=
BIGQUERY_DATASET=

# Streamlit (optionnel)
STREAMLIT_SERVER_PORT=8501