# Secrets — JAMAIS commiter
.env
*.env
secrets/
credentials.json
job-market-de-492514-5753968978d9.json


# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environnement virtuel
job-market-venv/
