# Ingestion APIs
requests==2.33.1
pandas==3.0.2

# Tests
pytest==9.0.2

# Variables d'environnements
python-dotenv==1.2.2

#Google Cloud Storage
google-cloud-storage==3.13.1

# Google Cloud BigQuery
google-cloud-bigquery==3.43.0

# Google Cloud AI Platform
google-cloud-aiplatform==1.163.0

# Streamlit
streamlit==1.61.1

# PDFPlulmber
pdfplumber==0.11.10




