# Ingestion APIs
requests==2.33.1
pandas==3.0.2

# Tests
pytest==9.0.2

# Variables d'environnements
python-dotenv==1.2.2

#Google Cloud Storage
google-cloud-storage==3.10.1

#Google BigQuery
google-cloud-bigquery==3.43.0

#Airflow - opérateurs Google (GCSToBigQueryOperator)
apache-airflow-providers-google==22.5.0
